body {
  background-image: url(../../assets/background-login-register.JPG);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  margin: auto;
  width: 100%;
}

#login{
  opacity: .8;
}

#login:hover{
  opacity: 1;
}
